    <div class="container">
        <h1>{{ header }}</h1>
        <p>{{ content }}</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto alias maxime dolor ut pariatur incidunt! Laboriosam obcaecati reprehenderit ut unde quae tempora repellat rem soluta! Dolorem esse molestiae dolores odio!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto alias maxime dolor ut pariatur incidunt! Laboriosam obcaecati reprehenderit ut unde quae tempora repellat rem soluta! Dolorem esse molestiae dolores odio!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto alias maxime dolor ut pariatur incidunt! Laboriosam obcaecati reprehenderit ut unde quae tempora repellat rem soluta! Dolorem esse molestiae dolores odio!</p>
    </div>